:root {
  --primary-color: #ffffff;
  --secondary-color: black;
  --third-color: gray;
  --fourth-color: rgb(184, 180, 180);
  --mp-blue: #05386B;
  --mp-red: #ff6961;
  --green-two: #5CDB95;
  --green-three: #8EE4AF;
  --past-color:  #d3d3d3;
  --other-white: #E7EBE0FF;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: var(--past-color);
  color: var(--mp-blue);
  border-radius: 0;
  border-bottom: 10px solid var(--mp-blue);
}

.description{
  white-space: pre-wrap;
}

.hour {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-top: 1px dashed var(--secondary-color);
}

.past {
  background-color: var(--past-color);
  color: var(--primary-color);
}

.present {
  background-color: var(--mp-red);
  color: var(--primary-color);
}

.future {
  background-color: var(--primary-color);
  color: var(--primary-color);
}

.container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.timeblocks {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  margin: 10px 0px;
}

.timeblocks textarea {
  color: var(--secondary-color);
  width: 900px;
  height: 70px;
  text-align: center;
  border: solid 3px var(--mp-blue);
  font-size: 1.5vw;
}

.timeblocks .textarea-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeblocks .hour-div {
  font-size: 21px;
  width: 80px;
  border-bottom: solid 3px var(--mp-blue);
  border-top: solid 3px var(--mp-blue);
  border-left: solid 3px var(--mp-blue);
  height: 70px;
  background-color: var(--green-three);
}

.timeblocks p {
  margin: 20px 0px 0px 15px;
  color: var(--mp-blue);
  font-weight: 900;
}

.hour-double p {
  margin-left: 10px;
}

.timeblocks button {
  height: 70px;
  width: 80px;
  border-bottom: solid 3px var(--mp-blue);
  border-top: solid 3px var(--mp-blue);
  border-right: solid 3px var(--mp-blue);
  background-color: var(--mp-blue);
  border-left: solid var(--mp-blue);
}

.timeblocks button:hover {
  transform: scale(1.05);
}

.fa-solid {
  color: var(--green-three);
  font-size: 21px;
}

#text-area {
  overflow: auto;
}

